.explore-card:nth-of-type(1) {
    background-image: url('./king-size-bed-room.png');
}

.explore-card:nth-of-type(2) {
    background-image: url('./8-person-penthouse.png');
}

.explore-card {
    width: 50%;
    margin: 1em;
    height: 300px;
    border-radius: 25px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-cards {
    display: flex;
    margin: auto;
    width: 70%;
}

.explore-card-desc {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    /* height: 100px; */
    background: linear-gradient(94.33deg, rgba(255, 255, 255, 0.6) 3.19%, rgba(255, 255, 255, 0.1) 99.26%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    margin-top: 15em;
}

.explore-card-info {
    width: 4em;
    background: linear-gradient(90deg, #FF594C 0%, #FAC527 100%);
    border-radius: 10px;
    padding: 0.5em;
    padding-bottom: 0;
    font-family: 'Ubuntu';
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin: 0em 0.5em;
    height: 2em;
}

/* .explore-card-body {
    display: flex;
} */

.explore-card-book {
    width: 100px;
    height: 50px;
}

.explore-card-title {
    width: 300px;
    height: 20px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;

    color: #000;
    padding: 1em;
}