.about-card-1 {
    background-image: url('./chapter-1.png');
    width: 35%;
    height: 15em;
}

.about-card-2 {
    background-image: url('./chapter-2.png');
    width: 50%;
    height: 21em;
}

.about-card-3 {
    background-image: url('./chapter-3.png');
    width: 35%;
    height: 25em;
}

.about-card-4 {
    background-image: url('./chapter-4.png');
    width: 50%;
    height: 21em;
}

.about-card {
    border-radius: 15px;
    margin: 2em;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;    
}

.about-card-text-1 {
    margin-top:10em !important;
}

.about-card-text-2, .about-card-text-4 {
    margin-top: 15em !important;
}

.about-card-text-3 {
    margin-top: 18em !important;
}

.about-card-text {
    box-sizing: border-box;
    width: 90%;
    /* height: 100px; */
    background: linear-gradient(94.33deg, rgba(255, 255, 255, 0.6) 3.19%, rgba(255, 255, 255, 0.1) 99.26%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 1em;
    margin: auto;
}

.about-card-title {
    height: 26px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #000000;
}

.about-card-desc {
    /* width: 300px; */
    /* height: 30px; */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */

    display: flex;
    align-items: center;
    color: #000;
}