.home {
    background-image: url("Home.png");
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan {
    margin-top: 1em;
    font-size: 57px;
    line-height: 105px;
    text-align: center;
    color: #FFFFFF;
}

.slogan h1 {
    width: 60vw;
    margin: auto;
}

.slogan h6 {
    margin: 0;
}