.search-bar {
    box-sizing: border-box;

    margin: auto;
    display: flex;
    width: 85%;

    background: linear-gradient(94.43deg, rgba(249, 249, 249, 0.49) 34.95%, rgba(249, 249, 249, 0.175) 67.01%);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}